<h1><%= @unit.name %></h1>

<p><%= @unit.description %>

<ul>
    <li><%= link_to "Edit", edit_unit_path(@unit) %></li>
    <li><%= link_to "Destroy", unit_path(@unit), data: {
            turbo_method: :delete,
            turbo_confirm: :"Are you sure?"
        } %></li>
</ul>

<% if @unit.rate.present? %>
  <h2>Rental rate:</h2>
  <%= render @unit.rate %>
<% else %>
  <p>Call for rates for this unit.</p>
<% end %>

<h2>Add or update rate:</h2>
<%= render "rates/form", unit: @unit %>